<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation=""
      throwConfigExceptions="true">

  <targets async="true">
    <target xsi:type="File" name="fileTarget" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}"/>
    <target xsi:type="Console" name="consoleTarget">
      <layout xsi:type="CsvLayout" delimiter="Pipe" withHeader="false">
        <column name="time" layout="${longdate}"/>
        <column name="level" layout="${level:upperCase=true}"/>
        <column name="logger" layout="${logger}"/>
        <column name="message" layout="${message}"/>
        <column name="exception" layout="${exception:format=ToString}"/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileTarget,consoleTarget"/>
  </rules>
</nlog>
